.contact-us-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .contact-us-container {
    width: 50%;
  padding: 40px;
  /* border: 1px solid #fff; */
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(4px); 
  background-color: rgba(255, 255, 255, 0.3); 
  }
  
  .contact-us-heading {
    margin-bottom: 20px;
  }
  
  .contact-us-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-field {
    margin: 20px;
  }
  
  .form-label {
    margin: 5px;
  }
  
  .form-input,
  .form-textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent);
    color: #333;
  }
  
  .form-textarea {
    resize: vertical;
  }
  
  .form-button {
    background: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
  }
  
  .form-button:hover {
    background-color: #333;
    color: #fff;
  }
  